langchain==0.0.284
python-dotenv
streamlit
tiktoken==0.4.0
faiss-cpu==1.7.4
langchain_experimental
mysql-connector-python
pymysql
sentence-transformers
chromadb
fastapi
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
streamlit-chat